@use './Home/Home';
@use './Register/Register';


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');



:root{
    --EnglishFont: 'Kanit', sans-serif;
    --MainColor: #FFB431;
    --ArabicLinksFont: 'Alexandria', sans-serif;
    --PointerCursor: url('/cursor.cur'), pointer;
    --ArabicTitlesFont: 'Lemonada', cursive;
    --SecondEnglish: 'Rubik', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    cursor: url('/cur.png'), default;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body a{
    outline: none;
    text-decoration: none;
}

body button{
    outline: none;
    border: none;
    background-color: var(--MainColor);
    font-family: var(--ArabicLinksFont);
    color: white;
    cursor: pointer;
}


body::-webkit-scrollbar {
    width: 8px;
    
}

body::-webkit-scrollbar-track {
    background-color: black;
  }


body::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;

}


body a, body button{
    cursor: var(--PointerCursor);
}


.NotFoundContainer{
 
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;


    .NotVideo{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-color: black;
        video{
            width: 100%;
            height: 100%;
        }
    }

    .NotFoundBlack{
        position: absolute;
        background-color: black;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: .5;
    }

    .ShowedNotFound{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        background-color: transparent;
        justify-content: center;

        h1{
            color: var(--MainColor);
            font-family: var(--ArabicTitlesFont);
            text-align: center;
            text-shadow: 0px 0px 15px black;
        }
        

        .ImageLink{
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }



        a{
            font-family: var(--ArabicLinksFont);
            color: #ffe9a2;
            display: flex;
            align-items: center;
            gap: 5px;
            background-image: url('/btn.png');
            height: 48px;
            width: 192px;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 12px;
            justify-content: center;
        }

        .HomeIcon{
            font-size: 16px;
        }
    }
}